# Data
data/raw/
data/processed/
*.csv
*.parquet
*.pkl

# Environment
.env
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.so
.Python
pip-log.txt

# MLFlow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.dbmlflow.db
reports/plots/*.png
models/*.pkl
mlflow.db
reports/